@import url("~bootstrap/dist/css/bootstrap.min.css") layer(framework);


.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    color: #535D3F;
    background-color: #B77960;
}

a {
    text-decoration: none;
    color: inherit;
}

img.header-logo {
    max-height: 100px;
    cursor: pointer;
}

.main-wrapper {
    background-color: #F6F1DB;
    position: relative;
    height: 100%;
    width: 95%;
    margin: 5vh auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.3), 8px 0 8px -3px rgba(0, 0, 0, 0.3), 0 -4px 8px -3px rgba(0, 0, 0, 0.3), -8px 0 8px -3px rgba(0, 0, 0, 0.3);
}

.favTeasCol {
    background-color: #818C6C;
    border-bottom-right-radius: 20px;
}

.active-tab {
    background-color: #F6F1DB;
    cursor: pointer;
}

.active-tab::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
}

.tab {
    cursor: pointer;
}

.content {
    display: none;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: #F6F1DB;
}

.active-content {
    display: block;
}

img.fav-tea {
    border-radius: 8px;
    aspect-ratio: 300/300;
    width: 100%;
    object-fit: cover;
}

.carousel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner {
    transition: transform 0.3s;
}

.carousel-buttons {
    display: flex;
    justify-content: space-evenly;
}

.button-arrow {
    background: none;
    border: none;
    cursor: pointer;
}

.indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.indicator-buttons {
    border: none;
    cursor: pointer;
}

.indicator-symbol {
    color: #26343f;
}

.indicator-symbol-active {
    color: #fff;
}

.indicators > button {
    background: none;
}
