@import url("~bootstrap/dist/css/bootstrap.min.css") layer(framework);


.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: #B77960;
}

a {
    text-decoration: none;
    color: inherit;
}

img.header-logo {
    max-height: 100px;
}

.main-wrapper {
    background-color: #F6F1DB;
    position: relative;
    height: 100%;
    width: 70%;
    margin: 18vh auto;
}

.favTeasCol {
    background-color: #818C6C;
}

.active-tab {
    background-color: #F6F1DB;
}

.active-tab::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
}

.content {
    display: none;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: #F6F1DB;
}

.active-content {
    display: block;
}